<div class="jumbotron">
    <h1>接口列表</h1>
    <p class="lead">WebAPI 01.Ray对接</p>
    <p class="lead">/api/test01?nonce= &amp;timestamp= &amp;sign= </p>
    <p class="lead">WebAPI 02.Ray对接</p>
    <p class="lead">/api/token?appid= &amp;timestamp= &amp;sign= </p>
    <p class="lead">/api/test02?nonce= &amp;timestamp= &amp;token= &amp;sign= </p>
</div>
